<header>
    <div class="primary-nav">
        <nav class="navbar">
            <div class="logo">
                <h1>Logo</h1>
            </div>
            <ul class="nav-list">
                <li class="list-items"><a href="/">Home</a></li>
                <li class="list-items"><a href="/blog">Blog</a></li>
                <li class="list-items"><a href="/about">About</a></li>
            </ul>
            <div class="hamburger">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </div>
        </nav>
    </div>
</header>