<header>
    <div class="primary-nav">
        <div class="logo">
            <h1>Logo</h1>
        </div>
        <ul class="nav-list">
            <li class="list-items"><a href="/">Home</a></li>
            <li class="list-items"><a href="#">Blog</a></li>
            <li class="list-items"><a href="#">About</a></li>
        </ul>
        <div class="hamburger">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
        </div>
    </div>
</header>