<section class="intro-sec">
    <div class="container introduction">
        <div class="hero-intro welcome">
            <h1>Welcome to Globe Trotter Gazette</h1>
            <p>Hi there! I'm glad you've stopped by. This is a place where I share my thoughts, experiences, and the
                things I'm passionate about. Feel free to explore and connect with me through my posts. Enjoy your stay!
            </p>
            <div class="button-con-intro">
                <a href="/blog">Visit Blog</a>
            </div>
        </div>
    </div>
</section>